.header {
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    padding: 3px 10px;
}

a:hover {
    background-color: lightblue;
    border-radius: 10px;
}